.user-management-container {
  padding: 16px;
}

.title {
  font-weight: bold;
  text-align: center; /* Center the title */
  margin-bottom: 20px; /* Space below the title */
}

.header-cell {
  font-weight: bold;
}
