.add-edit-inventory-card {
  .mat-card-header {
    text-align: center !important; // Center-aligns the content
  }

  .mat-card-title {
    font-weight: bold !important; // Makes the text bold
    font-size: 1.5em; // Adjusts font size for better visibility
  }
}
