<header>
  <mat-toolbar color="primary">
    <a mat-flat-button color="primary" [routerLink]="['/login']">
      Login
    </a>
    <a mat-flat-button color="primary" [routerLink]="['/dashboard']">
      Dashboard
    </a>
    <a mat-flat-button color="primary" [routerLink]="['/inventory-list']">
      Inventory List
    </a>
    <a mat-flat-button color="primary" [routerLink]="['/add-edit-inventory']">
      Add/Edit Inventory
    </a>
    <a mat-flat-button color="primary" [routerLink]="['/remove-invenotry']">
      Remove Inventory
    </a>
    <a mat-flat-button color="primary" [routerLink]="['/order-management']">
      Order Management
    </a>
    <a mat-flat-button color="primary" [routerLink]="['/reports']">
      Reports
    </a>
    <a mat-flat-button color="primary" [routerLink]="['/user-management']">
      User Management
    </a>
  </mat-toolbar>
</header>
